@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


@import "tailwindcss";
@plugin "daisyui";
html, body{
  height: 100%;
  margin: 0;
  
}
body{
  font-family: 'Space Grotesk', sans-serif;
  color: #ffffff;
  background-color: #2456df;
}
.bg-img{
  background-image: url('./assets/bg-img5.png');
  background-size: cover;
  background-position: center;
}   